.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2px;
    padding: 2px;
    background-color: black;
}

header {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    background-color: coral;
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
}

nav {
    display: grid;
    padding: 2px;
    background-color: black;
    text-align: center;
}

main {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    background-color: darksalmon;
}

footer {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: deepskyblue;
}

p{
    background-color: cyan;
    text-align: center;
}
